{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Turnos</title>
    <link href="{% static "CSS/modelo1.css" %}" type="text/css" rel="stylesheet">
</head>
<body>
<div id="mover">
      <h1>TICKET</h1>
       <div class="contenedor">
            <div><a href={% url "index" %}><button class="m" type="button" title="Inicio"><img src="{% static "img/hogar.png" %}" alt="icono" class="img"></button></a></div>
           <div><a href={% url 'formulario' %}><button class="m" type="button" title="Agregar"><img src="{% static "img/registro.png" %}" alt="icono" class="img"></button></a></div>
           <div><a href={% url 'tabla' %}><button type="button" class="m" title="Buscar"><img src="{% static "img/lupa.png" %}" alt="icono" class="img"></button></a></div>
           <div><a href={% url 'tablas_c' %}><button type="button" class="m" title="Archivos cargados"><img src="{% static "img/bandeja-de-entrada.png" %}" alt="icono" class="img"> </button></a></div>
       </div>
       <div>
           <a href={% url 'cargar' %}><button type="button" class="m des"><img src="{% static "img/subir.png" %}" alt="icono" class="img">Cargar</button></a>
           <a href={% url 'descarga' %}><button type="button" class="m des"><img src="{% static "img/descargar.png" %}" alt="icono" class="img">Descargar</button></a>
       </div>
  </div>
  <div id="busqueda">
      <form method="post" class="from_2" action="{% url "tabla" %}">
          <h2>Buscar y Ordenar Usuario</h2>
          {% csrf_token %}
               {{ busqueda }}
               <button type="submit" class="button_1_editar">Enviar</button>
               <button type="reset" class="button_1_editar borrar">Borrar</button>
               <a href="{% url "tabla" %}"><button type="button" class="button_1_editar recargar">Regresar</button></a>
     </form>
  </div >
    {% if Mensaje %}
            <p class="mensaje">{{ Mensaje }}</p>
    {% endif %}
<div class="mover_tabla_busqueda">
    <table >
    <thead>
         <tr>
             <th> Nombre </th>
             <th> Apellido </th>
             <th> Email </th>
             <th> Cedula </th>
             <th> Genero </th>
             <th> Ticket </th>
             <th> Opciones </th>
         </tr>
    </thead>
    <tbody>
     {% for usuario in vincular %}
        <tr>
            <td>{{ usuario.nombre}}</td>
            <td>{{ usuario.apellido}}</td>
            <td>{{ usuario.email}}</td>
            <td>{{ usuario.cedula}}</td>
            <td>{{ usuario.genero}}</td>
            <td>{{ usuario.ticket}}</td>
            {% if usuario.estado == "Espera" %}
                <td>
                 <form method="post"  action="{% url "borrar_1" usuario.id %}">
                              {% csrf_token %}
                              <button type="submit" class="boton_1_tabla">Borrar</button>
                         </form>
                         <form method="post"  action="{% url "editar" usuario.id %}">
                              {% csrf_token %}
                              <button type="submit" class="boton_1_tabla">Editar</button>
                         </form>
            </td>
            {% endif %}
            {% if usuario.estado == "Atendiendo" or usuario.estado == "Atendido" %}
                <td></td>
            {% endif %}
        </tr>
     {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>