{% extends "modelo1/index.html" %}
{% block content %}
    <h2>Archivos cargados</h2>
<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Archivo</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for i in archivos %}
                <tr>
                    <td>{{ i }}</td>
                    <td class="Grupo_button">
                        <form method="post" action="{% url 'subir_tabla' i.id %}">
                            {% csrf_token %}
                            <button type="submit" class="boton-accion subir">Subir</button>
                        </form>
                        <form method="post" action="{% url 'mostrar_json' i.id %}">
                            {% csrf_token %}
                            <button type="submit" class="boton-accion mostrar">Tabla</button>
                        </form>
                        <form method="post" action="{% url 'borrar_1_tabla' i.id %}">
                            {% csrf_token %}
                            <button type="submit" class="boton-accion borrar">Borrar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
        {% if mensaje %}
            <p class="mensaje">{{ mensaje }}</p>
        {% endif %}

{% endblock %}
